/* footer.css */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    opacity: 0.8;
    a{
        color: #fff;
        text-decoration: none;
    }
}
