// import customStyles from './customStyles.scss';
@import 'HomeStyle.scss';
@import 'Footer.scss';
@import 'Navbar.scss';
@import 'NoUserNavbar.scss';
@import 'Sidebar.scss';
@import 'Login.scss';
@import 'Register.scss';

:root {
    --primary-color: #dfdfdf;
    --secondary-color: #282c34;
    --tertiary-color: #FF914D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    a{
        text-decoration: none;
        color: inherit;
    }
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}